body{
    margin: 0;
    padding: 0;
    background-color: #444;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container{
    width: 90%;
    height: 90%;
    overflow: hidden;
}

.container::before{
    content: "";
    position: absolute;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 200px;
    z-index: 200;
    margin: auto;
    left: 0;
    bottom: 0;
}

.elements{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

/* FONDO */

.fondo{
    position: relative;
    display: flex;
    justify-content: center;
}

.sky{
    position: absolute;
    width: 900px;
    animation: cielo 5s infinite linear;
}

@keyframes cielo{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(0deg);}
    50%{transform: rotate(178deg);}
    75%{transform: rotate(178deg);}
    100%{transform: rotate(360deg);}

}


/* montañas */

.montañas{
    display: flex;
    align-items: end;
    margin: auto;
    justify-content: center;
    margin-top: 130px;

}

.montañas img{
    filter: drop-shadow(5px 0 7px rgba(0,0,0,0.5));
    object-fit: contain;
    width: 100px;
}

.montañas img:nth-child(2),
.montañas img:nth-child(3){
    margin-left: -40px;
}

.montañas img:nth-child(2){
    z-index: 10;
    width: 150px;
}

/* TREES */


.trees{
    display: flex;
    justify-content: space-between;
    z-index: 200;
    position: relative;
    width: 100%;
    margin-top: -650px;
}

@media screen and (orientation: portrait) {
    .trees{
        width: 140%;
    }
}

.trees img{
    width: 200px;
    filter: drop-shadow(5px 0 7px rgba(0,0,0,0.5));
}

.trees img:first-child{
    margin-left: -50px;
}

.trees img:last-child{
    margin-right: -50px;
}

/* CLOUDS */

.clouds{
    display: flex;
    justify-content: space-around;
    width: 120%;
}

.clouds img{
    width: 80px;
    filter: drop-shadow(7px 0 7px rgba(0,0,0,0.5));
    position: relative;
    object-fit: contain;
}

.clouds img:nth-child(1),
.clouds img:nth-child(4){
    transform: translateY(60px);
}

@keyframes nubes{
    0%{transform: translateY(0px);}
    100%{transform: translateY(30px);}
}

@keyframes nubes-two{
    0%{transform: translateY(30px);}
    100%{transform: translateY(0px);}
}

.clouds img:nth-child(1),
.clouds img:nth-child(3){
    animation: nubes 2s infinite alternate;
}
.clouds img:nth-child(2),
.clouds img:nth-child(4){
    animation: nubes-two 2s infinite alternate;
}



/* floor */

.floor{
    width: 100%;
    z-index: 100;
    position: relative;
    display: flex;
    justify-content: center;
}

.floor .piso{
    object-fit: cover;
    min-width: 800px;
    max-width: 100%;
    margin-top: -5px;
    filter: drop-shadow(5px 0 7px rgba(0,0,0,0.5));

}

